@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'),
  url('../src/assets/fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../src/assets/fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
  url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
